/*place global styles here */
html, body { @apply h-full overflow-hidden; }
@font-face {
	font-family: 'Syncopate';
	src: url('/fonts/Syncopate-Regular.ttf');
	font-display: swap;
}

:root {
    --theme-font-family-base: 'Syncopate', sans-serif;
    --theme-font-family-heading: 'Syncopate', sans-serif;
}
